# Dependencies
node_modules/

# Next.js
.next/
out/

# Git
.git/
.gitignore

# Docker
Dockerfile
docker-compose.yml
.dockerignore

# IDE
.idea/
.vscode/

# Misc
.DS_Store
*.md
*.log
.env*
!.env.example
